body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(246,247,143,1) 0%, rgba(255,92,133,1) 100%);
}

.navbar {
  background-color: #dd5a5a;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar a {
  color: black;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .icon {
  display: inline-block;
  margin-right: 10px;
}

.navbar-icon {
  height: 20px;
  width: 30px;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
  }

  .navbar a {
    display: none;
  }

  .navbar .icon {
    margin-left: auto;
  }

  .navbar.responsive a:not(.icon) {
    display: block;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 56px);
}

.content > div {
  padding: 0;
  padding-left: 20px;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

.photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 10px;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-areas: "img1 img3" "img2 img3";
  margin: 20%;
}

.img1,
.img2,
.img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  height: 100% !important;
  grid-area: img3;
}

.img1 img,
.img2 img,
.img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left; 
}

.info-cont2 {
  background-color: #cf4865;
  padding: 20px;
}

.info-header {
  letter-spacing: 5px;
  padding-right: 75px;
  font-size: 30px;
  font-weight: 900;
}

.click-a {
  text-decoration: none;
  color: black;
}

.icon1 {
  width: 25px;
  height: 18px;
}

.button {
  background-color: #d85f5f;
  border: none;
  color: white;
  padding: 10px 40px;
  margin-top: 20px;
}
